ACCESS_TOKEN_SECRET = require('crypto').randomBytes(64).toString('hex')
REFRESH_TOKEN_SECRET = require('crypto').randomBytes(64).toString('hex')
//Эти команды в консоль node

DB_USER = postgres
DB_PASSWORD = password
DB_PORT = 5432
DB_HOST = loc
DB_NAME = cryptoDB

port = 3000

REDIS_HOST = loc
REDIS_PORT = 6379
